body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol {
  margin-bottom: 2rem;
  padding-left: 1rem;
}

li {
  position: relative;
  cursor: pointer;
}

li.done {
  color: #aaa;
}
li.done::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.6em;
  border-top: 1px solid white;
  width: 100%;
}
