body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol {
  margin-bottom: 2rem;
  padding-left: 1rem;
  max-width: 300px;
}

li {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

li.done span:first-child {
  color: #aaa;
  text-decoration: line-through;
}
/* li.done::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.6em;
  border-top: 1px solid white;
} */

input.error {
  /*   outline: solid 2px red; */
  box-shadow: 0 0 0 5px white, 0 0 0 6px red;
}

.remove-todo {
  color: blue;
  border: solid 1px;
  text-decoration: none;
}
